.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  z-index: 1;
  background-color: #fff;
}

.amazon {
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.login {
    color: #20B716;
    font-weight:500;
    font-size: 1.7rem;
    margin-top: 0.1rem;
}

.tree{
    width: 25rem;
    height: 10rem;
}

.social{
  border: hidden;
  width: 385px;
  height: 46px;
  background: #4285F4 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.socialimg{
  width: 36px;
  height: 36px;
  padding: 5px;
  margin-right: 340px;
  margin-top: -46px;
  border-radius: 20%;
}
